@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}
body{
  font-family:'Questrial',sans-serif ;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
  background-color: rgb(184, 154, 120);
}

h1 {
  color: blanchedalmond;
}
.screen {
  cursor: pointer;
  width: 60%;
  background-color: rgb(133, 120, 100) !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.controls{
  width: 60%;
  background: rgb(107, 96, 81);
  color: beige;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.controls .btn {
  border:0;
background: transparent;
cursor: pointer;
}
.controls .fa-play {
  color: rgb(87, 161, 87);
}
.controls .fa-stop {
  color: rgb(173, 85, 13);
}
.controls .fa-pause {
  color: rgba(202, 165, 135, 0.918);
}
.controls .timestamp {
  color: white;
  font-weight: bold;
  margin-left: 10px;

}
.btn:focus {
  outline: 0;
}
@media(max-width: 800px){
  .screen,
  .controls {
    width:90%;
  }

}